@import "bootstrap/dist/css/bootstrap.css";

:host {
  text-align: center;

  .search__input-group {
    background-color: #e9fbf3;
    backdrop-filter: blur(54.3656px);
    border-radius: 10px;
    height: 50px;

    .input-group-text {
      @extend .input-group-text;
      background-color: transparent;
      border: none;
    }

    .form-control {
      @extend .form-control;
      border: none;
      background-color: #e9fbf3;
    }
  }
}

.search-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

typeahead-container {
  width: 50% !important;
}

::ng-deep .dropdown-menu {
  min-width: 25rem;
}
