@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.recommended-recipe-container__title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 32.81px;
  margin-bottom: 29px;
}
