<div class="container mb-5 bg-grey p-0 pt-4">
  <div class="row">
    <div class="d-flex justify-content-end">
      <a [routerLink]="['/merchandise-list', 'add']" class="btn btn-primary">
        <img
          class="me-2"
          src="../../../../assets/icons/add-icon.svg"
          alt="add merchandise"
        />
        Add Merchandise
      </a>
    </div>
  </div>

  <table class="table table-borderless" *ngIf="merchandiseList$ | async">
    <thead>
      <tr class="vertical-align-middle">
        <th class="py-3 px-3" scope="col">Merchandise ID</th>
        <th scope="col">Name</th>
        <th class="text-center" scope="col">Price</th>
        <th class="text-center" scope="col">Volume</th>
        <th scope="col">Allergens</th>
        <th class="text-center" scope="col">Status</th>
        <th scope="col">
          <div class="d-flex justify-content-center">
            <img
              src="../../../../assets/icons/three-dot-icon.svg"
              alt="three dots"
            />
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let merchandise of merchandiseList$ | async">
        <tr class="vertical-align-middle">
          <td class="py-4 px-3">{{ merchandise.id }}</td>
          <td>{{ merchandise.name }}</td>
          <td class="text-center">{{ merchandise.price | currency: "CAD" }}</td>
          <td class="text-center">
            {{ merchandise.volume }} {{ merchandise.unit }}
          </td>
          <td>{{ (merchandise.allergens | arrayFormat: " | ") || "N/A" }}</td>
          <td>
            <ng-container
              *ngTemplateOutlet="
                merchandise.stock ? inStockBadge : outOfStockBadge
              "
            ></ng-container>
          </td>
          <td>
            <div class="d-grid gap-4 d-md-flex justify-content-md-center">
              <div class="btn-merchandise">
                <a (click)="navigateToEditMerchandise(merchandise)">
                  <img
                    src="../../../../assets/icons/edit-icon.svg"
                    alt="update icon"
                  />
                </a>
              </div>
              <div class="btn-merchandise">
                <a (click)="confirmMerchandiseDelete(merchandise)">
                  <img
                    src="../../../../assets/icons/delete-icon.svg"
                    alt="delete icon"
                  />
                </a>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <p class="text-danger" *ngIf="!(merchandiseList$ | async)">
    No Merchandise Exists
  </p>
</div>

<ng-template #inStockBadge>
  <div class="badge bg-success text-white d-block w-75 my-0 mx-auto">
    In Stock
  </div>
</ng-template>

<ng-template #outOfStockBadge>
  <div class="badge bg-out-of-stock text-danger d-block w-75 my-0 mx-auto">
    Out of Stock
  </div>
</ng-template>
