<div class="elipse"></div>
<div class="background"></div>

<div class="container mt-5">
  <div class="row justify-content-end">
    <div class="col-4 d-flex justify-content-center">
      <app-search-bar></app-search-bar>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <a [routerLink]="'shopping-cart'"
        ><img src="../../../assets/cart-icon.svg" alt="shopping cart"
      /></a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 slogan">It's Time to Eat!</div>
  </div>
</div>
