/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

* {
  box-sizing: border-box;
}

button,
.form-control:focus {
  @extend .form-control;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

body {
  background-color: #fdf7ee;
  overflow-x: hidden;
}

.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.32);
  z-index: 20000;
}

.row {
  @extend .row;
  padding: 0;
  margin: 0;
}
